@import "../../App.scss";

.header{
    background: $clr-blue;
    // background: linear-gradient(180deg, rgb(48, 128, 249) 0%, rgb(2, 68, 191) 100%);

    .header-cnt-top{
        // border-bottom: 1px solid lighten($clr-blue, 10%)    ;
        flex-direction: column;
        align-items: end;
    }

    @media screen and (max-width: 992px){
        .header-cnt-top{
            flex-direction: column;
            align-items: end;
            .header-cnt-top-l{
                margin-bottom: 4px;
            }
        }
    }
    
}