@import '../../App.scss';

.footer{
        
        position: relative;
        
        left : 0px;
        right: 0px;
        bottom: 0px;
        
        background-color: $clr-blue;
        display: block;
        margin-top: 0.7rem;
    
}